.home {
    width: 100%;
    align-items: center;
    font-family: "Arial", sans-serif;
    color: #2a9fff;
  }
  
  .about {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #bbfaff;
    color: #f0f0f0;
  }
  
  .about h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: #000000;
    height: 50px;
  }

  .about h1 {
    font-size: 40px;
    font-family:Arial, Helvetica, sans-serif;
    color: #000000;
  }
  

  .prompt svg {
    font-size: 50px;
    margin: 5px;
    color: white;
  }

  .download {
    font-size: 40px;
    color: #2a9fff;
  }
  
  .skills h1 {
    color: #5e81d3;
    text-decoration: underline;
  }
  
  .skills .list {
    list-style: none;
  }
  
  .list span {
    font-size: 20px;
  }

  .pic {
    border-radius: 62%;
    width: 60%;
    height: auto;
  }
  
  @media only screen and (max-width: 775px) {
    .about h2 {
        font-size: 50px;
        margin: 0px 5px 100px 5px;
      }
    
    .pic {
        height: calc(25vh - 90px);   
    }



  }

  @media only screen and (max-width: 600px) {
    .pic {
        height: calc(13vh - 40px);
    }
  
    .about .prompt {
      margin-top: 10px;
      font-size: 20px;
      width: 80%;
    }
  
    .skills {
      text-align: center;
    }
  
  
    .skills h2 {
      font-size: 25px;
      justify-content: center;
      align-items: center;
      align-self: center;
      align-content: center;
    }

  }

    
  .skills {
    font-size: 20px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-self: center;
  }

  .list {
    padding: 0px;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  
